@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
body {
	background: linear-gradient(-90deg, #fca47c, #ffc477, #73b2ff, #7489ff);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
	color: white;
	text-align: center;
	font-family: "Plus Jakarta Display", sans-serif;
}
